In [1]:
# if....elif....else condition
num = 4
if num == 1:
    print('One')
elif num == 2:
    print('Two')
elif num == 3:
    print('Three')
else:
    print('Something else.')

Something else.

In [3]:
# if....elif....else condition with input() function
num1 = int(input("Please enter the first number -->"))
num2 = int(input("Please enter the second number -->"))
num3 = int(input("Please enter the third number -->"))
print("The maximum number is -->")
if(num1 > num2):
    if(num1 > num3):
        print(num1)
    else:52
        print(num3)
elif(num2 > num3):
    print(num2)
else:
    print(num3)
print("End of the program....")

Please enter the first number -->52
Please enter the second number -->65
Please enter the third number -->102
The maximum number is -->
102
End of the program....

In [4]:
num1 = int(input("Please enter the first number -->"))
num2 = int(input("Please enter the second number -->"))
num3 = int(input("Please enter the third number -->"))
print("The maximum number is -->")
if(num1 >= num2 and num1 >= num3):
    print(num1)
elif(num2 >= num3):
    print(num2)
else:
    print(num3)
print("End of the program....")

Please enter the first number -->45
Please enter the second number -->3
Please enter the third number -->8
The maximum number is -->
45
End of the program....

In [5]:
print("Visit Doctor....")
day = 1
medi_count = 0
while (day <= 5):
    print("Good Morning....")
    medi = 1
    while (medi <= 3):
        print("Day number =",day,"Medicine number =",medi)
        medi_count += 1
        medi += 1
    print("Good Night....")
    day += 1
print("Thanks Doctor....")
print("So the total medicine count =",medi_count)

Visit Doctor....
Good Morning....
Day number = 1 Medicine number = 1
Day number = 1 Medicine number = 2
Day number = 1 Medicine number = 3
Good Night....
Good Morning....
Day number = 2 Medicine number = 1
Day number = 2 Medicine number = 2
Day number = 2 Medicine number = 3
Good Night....
Good Morning....
Day number = 3 Medicine number = 1
Day number = 3 Medicine number = 2
Day number = 3 Medicine number = 3
Good Night....
Good Morning....
Day number = 4 Medicine number = 1
Day number = 4 Medicine number = 2
Day number = 4 Medicine number = 3
Good Night....
Good Morning....
Day number = 5 Medicine number = 1
Day number = 5 Medicine number = 2
Day number = 5 Medicine number = 3
Good Night....
Thanks Doctor....
So the total medicine count = 15

In [6]:
# Using del keyword
a = 10
print(a)
del a
print(a)

10

NameError: ignored

In [7]:
# Using try....raise....except....finally keywords
try:
    x = 9
    raise ZeroDivisionError
except ZeroDivisionError:
    print("Division can not be performed")
finally:
    print("Executed Successfully....")

Division can not be performed
Executed Successfully....

In [8]:
# Using global variables
globvar = 10
def read1():
    print(globvar)
def write1():
    global globvar
    globvar = 5
def write2():
    globvar = 15
read1()
write1()
read1()
write2()
read1()

10
5
5

In [9]:
# Function 
def hello1(): # Without a return statement
    print("Hello Python....")
def hello2(): # With a return statement
    return "Hello World...."

hello1()
print(hello2())

Hello Python....
Hello World....

In [10]:
def function1():
    print("Hello" * 5)
def function2(num):
    print("Hello" * num)
def function3(num):
    return ("Hello" * num)

function1()
function2(8)
function2(3)
str1 = function3(4)
print(str1)
print(function3(7))

HelloHelloHelloHelloHello
HelloHelloHelloHelloHelloHelloHelloHello
HelloHelloHello
HelloHelloHelloHello
HelloHelloHelloHelloHelloHelloHello

In [11]:
def function4(arg1 = 111, arg2 = 222, arg3 = 333):
    print("arg1 =",arg1, "ag2 =",arg2, "arg3 =",arg3)

function4(100,200,300)
function4(100,200)
function4()
function4(arg3=300,arg1=100)

arg1 = 100 ag2 = 200 arg3 = 300
arg1 = 100 ag2 = 200 arg3 = 333
arg1 = 111 ag2 = 222 arg3 = 333
arg1 = 100 ag2 = 222 arg3 = 300

In [0]:
# Assessment - 30 Marks - Time 30 Minutes