In [1]:
#  Function without a return statement
def hello1():
    print("Hello Python....")
    
hello1()

Hello Python....

In [2]:
# Function with a return statement
def hello2():
    return "Hello World...."

print(hello2())

Hello World....
Hello World....

In [3]:
def function1():
    print("Hello " * 5)
def function2(num):
    print("Hello " * num)
def function3(num):
    return ("Hello " * num)

function1()
function2(8)
function2(3)
str = function3(4)
print(str)
print(function3(7))

Hello Hello Hello Hello Hello
Hello Hello Hello Hello Hello Hello Hello Hello
Hello Hello Hello
Hello Hello Hello Hello
Hello Hello Hello Hello Hello Hello Hello

In [4]:
# Function with arguments
def function4(arg1 = 111, arg2 = 222, arg3 = 333):
    print("arg1 = ",arg1,"arg2 = ",arg2,"arg3 = ",arg3)
    
function4(100,200,300)
function4(100,200)
function4(100)
function4()
function4(arg3 = 300, arg1 = 100)

arg1 =  100 arg2 =  200 arg3 =  300
arg1 =  100 arg2 =  200 arg3 =  333
arg1 =  100 arg2 =  222 arg3 =  333
arg1 =  111 arg2 =  222 arg3 =  333
arg1 =  100 arg2 =  222 arg3 =  300

In [5]:
def function5(num1, num2 = None):
    if(num2 == None):
        return (2 * num1)
    else:
        return (num1 * num2)
print("The result is:",function5(100,40))
print("The result is:",function5(100))

The result is: 4000
The result is: 200

In [6]:
# Using del keyword
a = 10
print(a)
del a
print(a)

10

NameError: ignored

In [7]:
# if....elif....else condition
num = 4
if num == 1:
    print("One")
elif num == 2:
    print("Two")
elif num == 3:
    print("Three")
else:
    print("Something else.")

Something else.

In [8]:
# try....raise....except....finally keyword
try:
    x = 9
    raise ZeroDivisionError
except ZeroDivisionError:
    print("Division cannot be performed")
finally:
    print("Executed Successfully")

Division cannot be performed
Executed Successfully