In [ ]:
# Dictionary operation
dict1 = {"banana":"yellow","apple":"red","guava":"green","orange":"orange"}
print(dict1)
print(dict1.keys())
print(dict1.values())
print(dict1.items())
print(dict1["guava"])
print(len(dict1))
for i in dict1:
    print(i, end="_")
    print(dict1[i])
print(dict1.get("apple"))
del dict1["orange"]
print(dict1)
dict1.clear()
print(dict1)
dict1.update({"abcd":"white"})
print(dict1)
del dict1
print(dict1)

In [ ]:
# Set operation
set1 = set()
set2 = {"python","r","java","c"}
set3 = set(["python","r","java","c"])
set4 = {"python","vb","c++",".net"}
print(set1)
print(set2)
print(set3)
print(len(set1),len(set2),len(set3),len(set4))
print(set3 & set4) # Intersection
print(set3.intersection(set4))
print(set3 | set4) # Union
print(set3.union(set4))
print(set3 - set4) # Difference
print(set3.difference(set4))
print(set3.symmetric_difference(set4)) # Symmetric_difference
set3.add("cobol")
print(set3)
set3.remove("cobol")
print(set3)
print(set3.pop())
print(set3)
set3.clear()
print(set3)

In [ ]:
# try....except....block
print(set3)
try:
    set3.remove("c++")
    print(set3)
except KeyError as ke:
    print("Error message:language is not found-->",ke)

In [ ]:
# try....except....else....finally....block
try:
    num1 = int(input("Enter first number:"))
    num2 = int(input("Enter second number:"))
    a = num1 / num2
    print(a)
except ArithmeticError as ae:
    print("Division by ZERO is illogical....")
else:
    print("Correct Execution....")
finally:
    print("Welcome")
    
print("End of the program....")

In [ ]:
# try....if-elif....except....raise....finally....block
try:
    num1 = int(input("Please enter a number between 10 to 20 -->"))
    if(num1 < 10):
        raise NameError("Entered number is below 10....")
    elif(num1 > 20):
        raise NameError("Entered number is above 10....")
    print("Entered number is:",num1)
except NameError as ne:
    print("Error message:",ne)
finally:
    print("Bye....")
print("End of the program....")

In [ ]:
# Using file I/O operation
test_file = open("student.txt","wb")
print("File mode:",test_file.mode)
print("File name:",test_file.name)
test_file.write(bytes("Student Name-1","UTF-8"))
test_file.close()

In [ ]:
# Database operation
import sqlite3
connection = sqlite3.connect("student_database.db")
print("Connected with the database....")
sql = '''
CREATE TABLE student (stud_roll INTEGER PRIMARY KEY, stud_name
TEXT);
'''
try:
    connection.execute(sql)
    print("Table created....")
except:
    pass