In [1]:
# Dictionary operation
dict1 = {"a":"1234","b":"2345","c":"3456","d":"4567"}
print(dict1)
print(dict1.keys())
print(dict1.values())
print(dict1.items())
print(dict1["b"])
print(len(dict1))
for i in dict1:
    print(i, end="")
    print(dict1[i])
print(dict1.get("c"))
print(dict1)
dict1.clear()
print(dict1)
dict1.update({"e":"5678"})
print(dict1)
del dict1
print(dict1)

{'a': '1234', 'b': '2345', 'c': '3456', 'd': '4567'}
dict_keys(['a', 'b', 'c', 'd'])
dict_values(['1234', '2345', '3456', '4567'])
dict_items([('a', '1234'), ('b', '2345'), ('c', '3456'), ('d', '4567')])
2345
4
a1234
b2345
c3456
d4567
3456
{'a': '1234', 'b': '2345', 'c': '3456', 'd': '4567'}
{}
{'e': '5678'}

NameError: ignored

In [2]:
# Set operation
set1 = set()
set2 = {"python","r","java","c"}
set3 = set(["python","vb","c++","php"])
print(set1)
print(set2)
print(set3)
print(len(set1),len(set2),len(set3))
print(set2 & set3) # Intersection
print(set2.intersection(set3))
print(set2 | set3)
print(set2.union(set3)) # Union
print(set2.difference(set3)) # Difference
print(set2 - set3)
print(set2.symmetric_difference(set3))
set3.add("java")
print(set3)
set3.remove("java")
print(set3)
print(set3.pop())
print(set3)
set3.clear()
print(set3)

set()
{'java', 'r', 'c', 'python'}
{'vb', 'c++', 'php', 'python'}
0 4 4
{'python'}
{'python'}
{'r', 'java', 'php', 'c', 'vb', 'c++', 'python'}
{'r', 'java', 'php', 'c', 'vb', 'c++', 'python'}
{'java', 'r', 'c'}
{'java', 'r', 'c'}
{'r', 'java', 'php', 'c', 'vb', 'c++'}
{'java', 'php', 'vb', 'c++', 'python'}
{'php', 'vb', 'c++', 'python'}
php
{'vb', 'c++', 'python'}
set()

In [3]:
# try....except....block
set4 = {"python","r","java","c"}
print(set4)
try:
    set4.remove("c++")
    print(set4)
except KeyError as ke:
    print("Error message:language is not found....")

{'java', 'r', 'c', 'python'}
Error message:language is not found....

In [4]:
# try....except....else....finally....block
try:
    num1 = int(input("Enter first number -->"))
    num2 = int(input("Enter second number -->"))
    a = num1 / num2
    print(a)
except ArithmeticError as ae:
    print("Division by ZERO is illogical....")
else:
    print("Correct execution....")
finally:
    print("Thank you.")
    
print("End of the program.")

Enter first number -->56
Enter second number -->0
Division by ZERO is illogical....
Thank you.
End of the program.

In [5]:
# try....if-elif....exept....raise....finally....block
try:
    num1 = int(input("Please enter a number between 10 to 20 -->"))
    if(num1 < 10):
        raise NameError("Entered number is below 10....")
    elif(num1 > 20):
        raise NameError("Entered number is above 20....")
    print("Entered number is:",num1)
except NameError as ne:
    print("Error message:",ne)
finally:
    print("Bye....")
    
print("End of the program....")

Please enter a number between 10 to 20 -->15
Entered number is: 15
Bye....
End of the program....

In [6]:
# File operation
file1 = open("student.txt","wb")
print("File mode:",file1.mode)
print("File name:",file1.name)
file1.write(bytes("Hi hello python","UTF-8"))
file1.close()

File mode: wb
File name: student.txt

In [7]:
# Database operation
import sqlite3
connection = sqlite3.connect('test.db')
print("Opened database successfully....")
connection.execute('''CREATE TABLE student
                   (stud_roll INTEGER PRIMARY KEY NOT NULL,
                   stud_name TEXT);''')
print("Table created successfully....")
connection.close()

Opened database successfully....
Table created successfully....

In [8]:
connection = sqlite3.connect('test.db')
print("Opened database successfully....")
connection.execute("INSERT INTO student(stud_roll,stud_name)\
VALUES(1,'Abcd')");
connection.execute("INSERT INTO student(stud_roll,stud_name)\
VALUES(2,'Efgh')");
connection.commit()
print("Records created successfully....")
connection.close()

Opened database successfully....
Records created successfully....