1.	Write the code to create a 5X2 matrix

In [1]:
import numpy as np

In [9]:
m = np.arange(10)
m = m.reshape(5,2)
m

array([[0, 1],
       [2, 3],
       [4, 5],
       [6, 7],
       [8, 9]])

2.	Create a data frame of 4 attributes.

In [4]:
import pandas as pd

In [5]:
d = {'col1': [1, 2,8,9], 'col2': [3, 40,56,25],'col3':[52,15,52,75],'col4':[85,56,89,24]}
df = pd.DataFrame(data=d)
df

   col1  col2  col3  col4
0     1     3    52    85
1     2    40    15    56
2     8    56    52    89
3     9    25    75    24