In [6]:
import numpy as np
matrix =np.arange(10)
matrix

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [7]:
matrix=matrix.reshape(5,2)
matrix

array([[0, 1],
       [2, 3],
       [4, 5],
       [6, 7],
       [8, 9]])

In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [9]:
col =["name","id","gender","age"]
col

['name', 'id', 'gender', 'age']

In [10]:
Display=pd.DataFrame([['abcd',1,"MALE","25"],['EFGH',2,"MALE","20"]],columns=col)
Display

   name  id gender age
0  abcd   1   MALE  25
1  EFGH   2   MALE  20