In [1]:
#Q1
import numpy as np

In [2]:
m = np.matrix([[592,562],[852,412],[856,152],[412,523],[523,145]])
m

matrix([[592, 562],
        [852, 412],
        [856, 152],
        [412, 523],
        [523, 145]])

In [3]:
#Q2
import pandas as pd

In [4]:
df = pd.DataFrame(np.array([[1, 2, 3,4,5], [6,7,8,9,10], [11,12,13,14,15]]),columns=['a', 'b', 'c','d','e'])
df

    a   b   c   d   e
0   1   2   3   4   5
1   6   7   8   9  10
2  11  12  13  14  15