In [14]:
import numpy as np
matrix.shape
matrix = matrix.reshape(5,2)
matrix

array([[0., 1.],
       [2., 3.],
       [4., 5.],
       [6., 7.],
       [8., 9.]])

In [25]:
import numpy as np
import pandas as pd
cols = ["name","age","gender","job"]
cols
user1 = pd.DataFrame([["Sunny",21,"M","student"]],columns = cols)
user1

    name  age gender      job
0  Sunny   21      M  student