In [21]:
#1.Write the code to create an array from a list and display the items
import numpy as np
data5=[1,2,3,4,5,6]
arr1=np.array(data5)
print(arr1)

[1 2 3 4 5 6]

In [23]:
#2.	Write a code to check a number which is less than or greater than 20 using if-elif condition and implement try-raise-except-finally blocks.
try:
    num1=int(input("enter the number:"))
    if(num1<20):
        raise NameError("the number is smaller than 20:")
    elif(num1>20):
        raise NameError("the number is bigger than 20:")
    print("enter number is:" ,num1)
except NameError as ne:
    print(ne)
finally:
    print("bye...")
print("end of programe:")

enter the number:50
the number is bigger than 20:
bye...
end of programe:

In [25]:
#3.	Create a table in a database and display the value from the table.
import sqlite3
connection=sqlite3.connect('test4.db')
print("operation database sucessfully")
connection.execute("CREATE TABLE teacher11(tech_id INTEGER PRIMARY KEY NOT NULL, tech_name Text);")
print("table create sucessfully:")
#connection.close()
print("opened database sucessfully")
connection.execute("INSERT INTO teacher11(tech_id,tech_name)\
VALUES(1,'ASDF')");
connection.execute("INSERT INTO teacher11(tech_id,tech_name)\
VALUES(2,'ZXCV')");
connection.commit()
print("record create sucessfully:")
#connection.close()
cursor=connection.execute("SELECT tech_id,tech_name from teacher11")
for row in cursor:
    print("teacher id=",row[0])
    print("teacher name=",row[1],"\n")
print("data display sucessfully:")
connection.close()

operation database sucessfully
table create sucessfully:
opened database sucessfully
record create sucessfully:
teacher id= 1
teacher name= ASDF

teacher id= 2
teacher name= ZXCV

data display sucessfully: