In [5]:
import pandas as pd
user3 = pd.DataFrame(dict(name=["susmita","revati","tiyasa"],department=["ece","ece","cse"],gender=["f","f","f"],
                         subject=["electronics","java","c++"]))

In [6]:
user3

      name department gender      subject
0  susmita        ece      f  electronics
1   revati        ece      f         java
2   tiyasa        cse      f          c++

In [17]:
import numpy as np
data=[range(1,3),range(3,5),range(5,7),range(7,9),range(9,11)]
arra=np.array(data)
#np.diag(1,2,3,4,5)

In [18]:
arra

array([[ 1,  2],
       [ 3,  4],
       [ 5,  6],
       [ 7,  8],
       [ 9, 10]])