In [ ]:
#1
import numpy as np
matrix1=np.ones((5,2))
print(matrix1)
print()
matrix2=np.zeros((5,2))
print(matrix2)
print()
matrix=np.array([[1,2],[3,4],[5,6],[7,8],[9,0]])
print(matrix)

In [3]:
#2
import pandas as pd
cols=["Name","Age","Gender","Job"]
cols
user1=pd.DataFrame([["Candy",16,"Female","Student"],["Joe",37,"Male","Manager"]])
user1

       0   1       2        3
0  Candy  16  Female  Student
1    Joe  37    Male  Manager