In [6]:
#CREATING A 5X2 MATRIX
#question 1

import numpy as np
matrix=np.arange(10,dtype=float)
matrix=matrix.reshape(5,2)
print(matrix)

[[0. 1.]
 [2. 3.]
 [4. 5.]
 [6. 7.]
 [8. 9.]]

In [5]:
#CREATING DATAFRAME WITH 4 ATTRIBUTES
#question 2

import pandas as pd
lst={'Name':['Anjali','Koushik','Manish','Aman'],
     'Age':[20,22,30,25],
     'Job':['Engineer','Doctor','Lawyer','Architect'],
     'Place':['Patna','Kolkata','Delhi','Bangalore']}
df=pd.DataFrame(lst)
print(df)

      Name  Age        Job      Place
0   Anjali   20   Engineer      Patna
1  Koushik   22     Doctor    Kolkata
2   Manish   30     Lawyer      Delhi
3     Aman   25  Architect  Bangalore