In [1]:
#2.	Create a dictionary with some items and display the items.
# empty dictionary
my_dict = {}
# dictionary with integer keys
my_dict = {1: 'apple', 2: 'ball'}
# dictionary with mixed keys
my_dict = {'name': 'John', 1: [2, 4, 3]}
# using dict()
my_dict = dict({1:'apple', 2:'ball'})
# from sequence having each item as a pair
my_dict = dict([(1,'apple'), (2,'ball')])

In [2]:
my_dict = {'name':'Jack', 'age': 26}

# Output: Jack
print(my_dict['name'])

# Output: 26
print(my_dict.get('age'))

# Trying to access keys which doesn't exist throws error
# my_dict.get('address')
# my_dict['address']

Jack
26

In [3]:
my_dict = {'name':'Jack', 'age': 26}

# update value
my_dict['age'] = 27

#Output: {'age': 27, 'name': 'Jack'}
print(my_dict)

# add item
my_dict['address'] = 'Downtown'  

# Output: {'address': 'Downtown', 'age': 27, 'name': 'Jack'}
print(my_dict)

{'name': 'Jack', 'age': 27}
{'name': 'Jack', 'age': 27, 'address': 'Downtown'}

In [13]:
#3.1.	Write the code to add two numbers using lamda

a={"fsdfds","dsffd","ewrwefe"}
a

{'dsffd', 'ewrwefe', 'fsdfds'}

In [14]:
a=lambda x,y:x*y
print (a(3,5))

15

In [15]:
# 3.	Create a table in a database and display and update the value.

import sqlite3
connection=sqlite3.connet('test32.db')
print("Operation database successfully...")
connection.execute('''CREATE TABLE student11
                      (stud_roll INTEGER PRIMARY KRY NOT NULL,
                    stud_neme TEXT);''')
print("Table created successfully")
# connection.close()

AttributeError: module 'sqlite3' has no attribute 'connet'