In [21]:
import numpy as np
a = np.linspace(0,3,4)
b = np.logspace(0,3,4)

print(a)
print(b)

[0. 1. 2. 3.]
[   1.   10.  100. 1000.]

In [22]:
import pandas as pd

features = ['name', 'age', 'gender']
df = pd.DataFrame([["Manish", 21, 'M'],["Aman", 19, 'M'],["XYZ", 18, 'F']],columns = features)
df[df.age<20][:]

   name  age gender
1  Aman   19      M
2   XYZ   18      F