In [1]:
import numpy as np

In [3]:
matrix=np.arange(10)
matrix

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [4]:
matrix = matrix.reshape(5,2)
matrix

array([[0, 1],
       [2, 3],
       [4, 5],
       [6, 7],
       [8, 9]])

In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [8]:
cols = ["name","gender","age","job"]
cols

['name', 'gender', 'age', 'job']

In [9]:
user1 = pd.DataFrame([["Nitish","Male",21,"Student"]],columns = cols)
user1

     name gender  age      job
0  Nitish   Male   21  Student