In [1]:
#1.code to implement linspace and logspace functions
import numpy as np
a=np.linspace(0,1,5)
b=np.logspace(0,1,5)
print(a)
print(b)

[0.   0.25 0.5  0.75 1.  ]
[ 1.          1.77827941  3.16227766  5.62341325 10.        ]

In [2]:
#2.Create a data frame with some items and and keep one condition to check age is less then 20
import pandas as pd
import numpy as np
raw_data = {'first_name': ['Jason', 'Molly', np.nan, np.nan, np.nan], 
        'nationality': ['USA', 'USA', 'France', 'UK', 'UK'], 
        'age': [18, 52, 36, 19, 70]}
df = pd.DataFrame(raw_data, columns = ['first_name', 'nationality', 'age'])
df
#condition
elderly = df['age'] < 20
df[elderly]

  first_name nationality  age
0      Jason         USA   18
3        NaN          UK   19