In [2]:
# 1. create 5X2 matrix
import numpy as np
matrix = np.arange(10,dtype=float) 
matrix = matrix.reshape(5,2)
matrix

array([[0., 1.],
       [2., 3.],
       [4., 5.],
       [6., 7.],
       [8., 9.]])

In [3]:
# 2. data frame of 4 attributes
import numpy as np
import pandas as pd
user = pd.DataFrame(dict(name=["shreya","L","E","F"],age=[20,21,28,29],
                          gender=["f","m","f","f"],job=["engineer","scientist","manager","painter"]))
user

     name  age gender        job
0  shreya   20      f   engineer
1       L   21      m  scientist
2       E   28      f    manager
3       F   29      f    painter