In [26]:
import numpy as np
matrix = np.array([[2,5],[5,7],[8,9],[4,0],[3,2]])

In [27]:
matrix

array([[2, 5],
       [5, 7],
       [8, 9],
       [4, 0],
       [3, 2]])

In [14]:
import pandas as pd 
cols=["Names","age","gender"]
cols
user2=pd.DataFrame([["Satyajit",30,"M"],["Ronit",20,"M"]],columns=cols)

In [10]:
user2

       Name  age gender
0  Satyajit   30      M
1     Ronit   20      M