In [18]:
#Write the code to implement linspace and logspace functions
import numpy as np
a=np.linspace(0,1,5)
b=np.logspace(0,3,4)
print(a)
print(b)

[0.   0.25 0.5  0.75 1.  ]
[   1.   10.  100. 1000.]

In [25]:
#Create a data frame with some items and and keep one condition to check age is less then 20.
col=["names","age","jobs"]
col
a=pd.DataFrame([["riya",19,"teacher"],["shalini",12,"student"],["priya",25,"manager"],["shreya",30,"manager"],["rimpai",35,"CEO"]],columns=col)
print(a)
b=a[a.age<20]
b

     names  age     jobs
0     riya   19  teacher
1  shalini   12  student
2    priya   25  manager
3   shreya   30  manager
4   rimpai   35      CEO

     names  age     jobs
0     riya   19  teacher
1  shalini   12  student