In [1]:
# File operation using with keyword
with open('test.txt','w') as my_file:
    my_file.write('Hello World....Hello Python....')
    my_file.close()
    
with open('test.txt','r') as my_file:
    str1 = my_file.read()
    print(str1)
my_file.close()

Hello World....Hello Python....

In [2]:
# Lambda function
a = lambda x: x * 2
for i in range(1,6):
    print(i,a(i))

1 2
2 4
3 6
4 8
5 10

In [3]:
# Addition of two numbers using lambda
addition = lambda num1,num2: num1 + num2
print(addition(50,60))

110

In [4]:
# Square of numbers using lambda
square = lambda num1: num1 * num1
print(square(5))

25

In [5]:
# String operation
str = "kolaghat"
print(str)
print(str[0:3],str[0:6],str[:6],str[:-4])

kolaghat
kol kolagh kolagh kola

In [6]:
# String operation
str = "batanagar"
for i in str:
    print(i)

b
a
t
a
n
a
g
a
r

In [7]:
# String operation
str = "bATanAGAr koLAghAT"
print(str)
print(str.upper())
print(str.lower())
print(str.capitalize())

bATanAGAr koLAghAT
BATANAGAR KOLAGHAT
batanagar kolaghat
Batanagar kolaghat

In [8]:
# String operation
str1 = "1234"
str2 = "abcd"
print(str1)
print(str2)
print(str1.isalnum(),str1.isalpha(),str1.isdigit())
print(str2.isalnum(),str2.isalpha(),str2.isdigit())

1234
abcd
True False True
True True False

In [9]:
# String operation
str = "good morning"
print(str)
print(len(str))
str = str.replace("morning","night")
print(str)
print(len(str))

good morning
12
good night
10

In [10]:
# String operation
str = "kolkata is a clean and green city"
print(str)
str1 = str.split()
print(str1)

kolkata is a clean and green city
['kolkata', 'is', 'a', 'clean', 'and', 'green', 'city']

In [12]:
# List operation
grocery_list = ["juice","potatoes","bananas","apples"]
data1 = [1,2,3,4]
print(grocery_list)
print(data1)
print(grocery_list[0])
print(grocery_list[0:3])
print(grocery_list[1:3])
print(data1[0])
print(len(data1))
print(len(grocery_list))
grocery_list.append("onion")
print(grocery_list)
grocery_list.insert(1,"pickle")
print(grocery_list)
grocery_list.remove("pickle")
print(grocery_list)
grocery_list.sort()
print(grocery_list)
grocery_list.reverse()
print(grocery_list)
del grocery_list[2]
print(grocery_list)
del grocery_list
print(grocery_list)

['juice', 'potatoes', 'bananas', 'apples']
[1, 2, 3, 4]
juice
['juice', 'potatoes', 'bananas']
['potatoes', 'bananas']
1
4
4
['juice', 'potatoes', 'bananas', 'apples', 'onion']
['juice', 'pickle', 'potatoes', 'bananas', 'apples', 'onion']
['juice', 'potatoes', 'bananas', 'apples', 'onion']
['apples', 'bananas', 'juice', 'onion', 'potatoes']
['potatoes', 'onion', 'juice', 'bananas', 'apples']
['potatoes', 'onion', 'bananas', 'apples']

NameError: ignored

In [13]:
# List operation
list1 = ["Welcome",10,20]
list2 = [100,400,200,300]
print(list1)
print(list2)
print("Length:",len(list2))
print("Maximum element:",max(list2))
print("Minimum element:",min(list2))
print("Total:",sum(list2))
print("Average:",sum(list2)/len(list2))
list2.extend([500,600,700,800])
print(list2)

['Welcome', 10, 20]
[100, 400, 200, 300]
Length: 4
Maximum element: 400
Minimum element: 100
Total: 1000
Average: 250.0
[100, 400, 200, 300, 500, 600, 700, 800]

In [14]:
# Tuple operation
tuple1 = (1,2,"arip","male",22)
tuple2 = (1,2,3,4)
print(tuple1)
print(tuple2)
print(len(tuple1))
print(len(tuple2),max(tuple2),min(tuple2),sum(tuple2))

(1, 2, 'arip', 'male', 22)
(1, 2, 3, 4)
5
4 4 1 10

In [15]:
# Array operation
import numpy as np
data1 = [1,2,3,4,5,6] # List
arr1 = np.array(data1) # 1d array
print(arr1)

[1 2 3 4 5 6]